<table>
    <tr>
        <th scope="col">name</th>
        <th scope="col">platform</th>
        <th scope="col">year</th>
        <th scope="col">genre</th>
        <th scope="col">publisher</th>
        <th scope="col">na_sales</th>
        <th scope="col">eu_sales</th>
        <th scope="col">jp_sales</th>
        <th scope="col">other_sales</th>
        <th scope="col">global_sales</th>
    </tr>

    {% for object in object_list %}

    <tr>
        <td scope="col">{{ object.name }}</td>
        <td scope="col">platform</td>
        <td scope="col">year</td>
        <td scope="col">genre</td>
        <td scope="col">publisher</td>
        <td scope="col">na_sales</td>
        <td scope="col">eu_sales</td>
        <td scope="col">jp_sales</td>
        <td scope="col">otder_sales</td>
        <td scope="col">global_sales</td>

    {% empty %} 
    <td>No objects yet.</td>

    {% endfor %} 

    </tr>
</table>