<table>
    <tr>
        <th scope="col">name</th>
        <th scope="col">platform</th>
        <th scope="col">year</th>
        <th scope="col">genre</th>
        <th scope="col">publisher</th>
        <th scope="col">na_sales</th>
        <th scope="col">eu_sales</th>
        <th scope="col">jp_sales</th>
        <th scope="col">other_sales</th>
        <th scope="col">global_sales</th>
    </tr>

    {% for object in object_list %}

    <tr>
        <td scope="col">{{ object.name }}</td>
        <td scope="col">{{ object.platform }}</td>
        <td scope="col">{{ object.year }}</td>
        <td scope="col">{{ object.genre }}</td>
        <td scope="col">{{ object.publisher }}</td>
        <td scope="col">{{ object.na_sales }}</td>
        <td scope="col">{{ object.eu_sales }}</td>
        <td scope="col">{{ object.jp_sales }}</td>
        <td scope="col">{{ object.otder_sales }}</td>
        <td scope="col">{{ object.global_sales }}</td>

    {% empty %} 
    <td>No objects yet.</td>

    {% endfor %} 

    </tr>
</table>